[user]
	name = brightonjosephkbj
	email = brightonjosephkbj@gmail.com
[safe]
	directory = /storage/emulated/0/Download/wave-app
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
